@import 'fonts';
@import 'global';

// start header 
.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 2560px;
  min-height: 840px;
  &__top {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     padding: 15px 0 50px;
  }
}
.logo {
  margin-right: 90px;
}
.advantages {
  &__item {
    display: inline-block;
    height: 42px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #666;
    padding-left: 50px;
    margin-right: 20px;
    position: relative;
    &--fist {
      max-width: 219px;
    }
    &--fist::before {
      background-image: url(../images/header-ico1.png);
      width: 39px;
      height: 39px;
    }
    &--second {
      max-width: 160px;
    }
    &--second::before {
      background-image: url(../images/header-ico2.png);
      width: 26px;
      height: 41px;
    }
    &--third {
      max-width: 220px;
    }
    &--third::before {
      background-image: url(../images/header-ico3.png);
      width: 40px;
      height: 35px;
    }
  }
  &__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.header {
  position: relative;
  &__info {
    display: flex;
    justify-content: flex-end;
  }
  &__product {
    position: absolute;
    bottom: -60px;
    left: 70px;
  }
  &__product-inner {
    position: relative;
  }
  &__product-img2 {
    display: none;
  }
  &__product-price {
    position: absolute;
    font-size: 34px;
    line-height: 34px;
    font-weight: 900;
    color: #fff;
    padding: 4px;
    border-radius: 8px;
    max-width: 105px;
    width: 100%;
    text-align: center;
    &--red {
      background-color: #ff6b00;
      top: -15px;
      left: 345px;
    }
    &--green {
      background-color: #a8ca3f;
      top: 115px;
      left: 445px;
    }
  }
  &__product-currency {
    font-weight: 400;
    margin-left: 3px;
  }

  &__descr {
    max-width: 370px;
  }
  &__descr-title {
    font-size: 44px;
    line-height: 44px;
    font-weight: 900;
    color: #383334;
    max-width: 310px;
    margin-bottom: 40px;
  }
  &__descr-subtitle {
    font-size: 34px;
    line-height: 38px;
    font-weight: 900;
    &--red {
      text-decoration: underline;
      text-decoration-color: #ff6b00;
    }
    &--green {
      text-decoration: underline;
      text-decoration-color: #a7c93d;
    }
  }
  &__descr-item {
    padding-left: 77px;
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 24px;
    color: #444444;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      border: 7px solid #e8edc9;
      border-radius: 50%;
      background-color: #a7c93d;
      color: #fff;
      font-weight: 20;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--first::before {
      content: '2в1';
    }
    &--first::after {
      content: '';
      position: absolute;
      background-image: url(../images/1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 9px;
      height: 30px;
      bottom: -37px;
      left: 27px;
    }
    &--second::before {
      content: '1';
    }
    &--second::after {
      content: '';
      position: absolute;
      background-image: url(../images/2.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 7px;
      height: 39px;
      bottom: -47px;
      left: 27px;
    }
    &--third::before {
      content: '2';
    }
    &--bold {
      color: #000000;
      font-weight: 500;
    }
    &--pills {
      text-decoration: underline;
      text-decoration-color: #ff6b00;
    }
    &--gel {
      text-decoration: underline;
      text-decoration-color: #a7c93d;
    }
  }
  &__order {
    border: 6px solid #a8ca3f;
    border-radius: 10px;
    max-width: 270px;
    width: 100%;
    margin-left: 25px;
    background-color: #fff;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/arrow.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 49px;
      height: 233px;
      right: -34px;
      top: 172px;
    }
  }
  &__order-delivery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    line-height: 16px;
    color: #444;
    
    padding: 0 14px 0 46px;
    width: 150px;
    height: 35px;
    margin: 0 auto;
    margin-top: -6px;
    background-color: #f2f8ff;
    border: 6px solid #a8ca3f;
    border-radius: 0 0 10px 10px;
    border-top: transparent;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/delivery-ico.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      top: 0;
      left: 10px;
      width: 27px;
      height: 15px;
    }
  }
  &__order-title {
    width: 170px;
    margin: 20px auto 0;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    color: #000;
  }
  &__order-date {
    display: block;
    font-weight: 500;
    color: #ff6b00;
  }
  
  &__order-price {
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__order-oldprice {
    color: #666;
    position: relative;
  }
  &__order-newprice {
    color: #000;
  }
  &__order-old {
    color: #0b0b0b;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    width: 103px;
  }
  &__order-new {
    color: #000;
    font-size: 34px;
    font-weight: 900;
    background-color: #ffbf02;
    border-radius: 5px;
    padding: 7px 10px;
  }
  &__order-form {
    padding: 0 15px;
  }
  &__order-input{
    max-width: 220px;
    width: 100%;
    height: 65px;
    border-radius: 50px;
    border: transparent;
    background-color: #eef2f7;
    display: block;
    margin: 0 auto;
    outline: transparent;
    padding: 0 20px 0 55px;
    margin-bottom: 10px;
    &::placeholder {
      font-size: 16px;
      color: #666;
    }
  }

  &__order-btn {
    cursor: pointer;
    max-width: 210px;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background-color: #ffc002;
    border: 2px solid #ffd94e;
    box-shadow: 0 0 0 5px #ffc902;
    display: block;
    margin: 0 auto;
    outline: transparent;
    font-size: 28px;
    line-height: 22px;
    color: #000;
    font-weight: 700;
    padding: 0 36px;
    margin-top: 15px;
  }
}

.btn-text {
  font-size: 16px;
  line-height: 16px;
}

.line {
  background-color: #ef9972;
  width: 90px;
  height: 1px;
  position: absolute;
}
.line-1 {
  top: 40px;
  left: 0;
  transform: rotate(20deg);
}
.line-2 {
  bottom: 20px;
  left: 0;
  transform: rotate(-20deg);
}
.form-input {
  position: relative;
}
.label-name {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: 20px;
  z-index: 3;
  background-image: url(../images/user-ico.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 19px;
  height: 23px;
  display: block;
  cursor: pointer;
}
.label-phone {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: 20px;
  z-index: 3;
  background-image: url(../images/phone-ico.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 21px;
  height: 24px;
  display: block;
  cursor: pointer;
}


.header {
  &__order-text {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  &__order-secure {
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 4px 0 4px 30px;
    background-color: #eef2f7;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/secure-ico.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 19px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
    }
  }
}
.green-text {
  color: #9dbd39;
  font-weight: 500;
}
// end header 

// start danger 

.danger {
  &__inner {
    text-align: center;
    padding: 50px 0 60px;
  }
  &__title {
    font-size: 48px;
    font-weight: 900;
    color: #383334;
    margin: 15px 0 40px;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #2b2828;
    margin-bottom: 30px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    
  }
  &__item {
    max-width: 340px;
    position: relative;
    margin: 15px;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/round-line1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 179px;
      height: 120px;
      top: -21px;
      left: -19px;
    }
    &::after {
      content: '1';
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      top: -16px;
      left: 111px;
      background-color: #ec9a6a;
      color: #fff;
      font-size: 30px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--second {
      &::before {
        background-image: url(../images/round-line2.png);
      }
      &::after {
        content: '2';
        background-color: #e47643;
      }
    }
    &--third {
      &::before {
        background-image: url(../images/round-line3.png);
      }
      &::after {
        content: '3';
        background-color: #ec5b19;
      }
    }
  }
  &__item-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item-img {
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    flex: 0 0 170px;
    position: relative;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__item-ttl {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
    text-align: left;
    margin-left: 15px;
  }
  &__line {
    width: 50px;
    height: 3px;
    background-color: #becbd8;
    margin: 20px 0;
  }
  &__item-descr {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    color: #444;
  }
}
// end danger 

// start statistic 
.statistic {
  &__inner {
    margin-bottom: 30px;
    text-align: center;
    border: 3px solid #f4d3bb;
    border-radius: 10px;
  }
  &__ico-box {
    width: 170px;
    margin: -20px auto 0;
    background-color: #fff;
  }
  &__ico {
    background-image: url(../images/statistic-ico.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 55px;
    height: 37px;
    margin: 0 auto;
  }
  &__text {
    padding: 26px 90px 40px;
    font-size: 22px;
    line-height: 28px;
    color: #444;
    &--bold {
      font-weight: 500;
      color: #000;
    }
  }
}


// end statistic 




@import 'media';